.full-width {
    width: 100%;
  }
  
.container {
    margin-top: 20px; /* Adjust the value as needed */
    padding-top: 20px; /* Alternatively, you can use padding */
}

.snackbar-success {
    background-color: #4caf50; /* Green background for success */
    color: white;
}